<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 네트워크 및 Wi-Fi 관련 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 사용 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Wi-Fi 상태 접근 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- Wi-Fi 상태 변경 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 외부 저장소에 파일을 접근 권한 추가 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alom_Team_Project"
        tools:targetApi="31">
        <activity
            android:name=".mentor_post.MentorPostActivity"
            android:exported="false" />
        <activity
            android:name=".notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".chat.dialog.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".chat.ChatListActivity"
            android:exported="false" /> <!-- network 코드 추가 -->
        <!-- 로그인을 첫페이지로 -->
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Alom_Team_Project">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 메인페이지를 위한 액티비티 추가 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Alom_Team_Project" /> <!-- 마이페이지를 위한 액티비티 추가 -->
        <activity
            android:name=".mypage.MypageActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Alom_Team_Project" /> <!-- 프로필 페이지를 위한 액티비티 추가 -->
        <activity
            android:name=".mypage.MyPostsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Alom_Team_Project" /> <!-- 내가 작성한 글 조회를 위한 액티비티 추가 -->
        <activity
            android:name=".mypage.ProfileActivity"
            android:exported="true"
            android:label="profile_page_label"
            android:theme="@style/Theme.Alom_Team_Project" />
        <activity
            android:name=".mypage.ProfileEditActivity"
            android:exported="true"
            android:label="profile_page_label"
            android:theme="@style/Theme.Alom_Team_Project" />
        <!-- QuestionBoardActivity -->
        <activity
            android:name=".mypage.ScrapBoardActivity"
            android:exported="true"/>
        <activity
            android:name=".question_board.QuestionBoardActivity"
            android:exported="false" />
    </application>

</manifest>